<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <nav class="nav">
        <div class="container">
            <div class="nav__box">
                <div class="nav__logo">
                    <img src="/src/images/icons/logo.svg" alt="">
                </div>
                <div class="nav__items">
                    <a href="" class="nav__items_item">О нас</a>
                    <a href="" class="nav__items_item">Что мы предлагаем</a>
                    <a href="" class="nav__items_item">Склад</a>
                    <a href="" class="nav__items_item">Контакты</a>
                    <div class="nav__items_phone">
                        <p class="nav__phone_text">+7 495 118 40 48</p>
                    </div>
                    <div class="nav__items_cabinet">
                        <p class="nav__cabinet_text">Личный кабинет</p>
                    </div>
                </div>
                <div class="nav__application">
                    <p class="nav__application_text">Оставить заявку</p>
                </div>
            </div>
        </div>
    </nav>
    <script src="../js/main.js"></script>
</body>
</html>