<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    
    <nav class="nav">
        <div class="container">
            <div class="nav__box">
                <div class="nav__logo">
                    <img src="/src/images/icons/logo.svg" alt="">
                </div>
                <div class="nav__items">
                    <a href="" class="nav__items_item">О нас</a>
                    <a href="" class="nav__items_item">Что мы предлагаем</a>
                    <a href="" class="nav__items_item">Склад</a>
                    <a href="" class="nav__items_item">Контакты</a>
                    <div class="nav__items_phone">
                        <p class="nav__phone_text">+7 495 118 40 48</p>
                    </div>
                    <div class="nav__items_cabinet">
                        <p class="nav__cabinet_text">Личный кабинет</p>
                    </div>
                </div>
                <div class="nav__application">
                    <p class="nav__application_text">Оставить заявку</p>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <header class="header">
            <div class="container">
                <div class="header__box">
                    <div class="header__content">
                        <h1 class="header__title">
                            Экспресс
                            <span>доставка</span> вакцин
                            и биопрепаратов
                        </h1>
                        <p class="header__text">Доставка день в день послe <br> оставления заявки</p>
                        <button class="header__button">Оставить заявку</button>
                    </div>
                    <div class="header__img">
                        <img src="../images/background/header__img.png" alt="">
                        <div class="header__delivery">
                            <p class="header__delivery_text">Экспресс доставка</p>
                            <div class="header__bg">
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </header>
        <section class="offer">
            <div class="container">
                <div class="offer__box">
                    <h2 class="offer__title">Что мы предлагаем?</h2>
                    <div class="offer__cards">
                        <!-- <div class="offer__card">
                            <img src="../images/pictures/card1.png" alt="" class="offer__card_img">
                            <h3 class="offer__card_title">
                                Перевозка  <br>
                                <span>опасных грузов</span>
                            </h3>
                            <div class="offer__card_hover">
                                <img src="../images/icons/card1-hover.svg" alt="" class="offer__hover_img">
                            </div>
                            
                        </div>
                        <div class="offer__card">
                            <img src="../images/pictures/card2.png" alt="" class="offer__card_img">
                            <h3 class="offer__card_title">
                                Перевозка <br> радиофармпрепаратов  <br>
                                <span>7 класса опасности</span>
                            </h3>
                            <div class="offer__card_hover">
                                <img src="../images/icons/card2-hover.svg" alt="" class="offer__hover_img">
                            </div>
                            
                        </div>
                        <div class="offer__card">
                            <img src="../images/pictures/card3.png" alt="" class="offer__card_img">
                            <h3 class="offer__card_title">
                                Перевозка медикаментов <br>
                                <span>с температурным <br>  режимом</span>
                            </h3>
                            <div class="offer__card_hover">
                                <img src="../images/icons/card1-hover.svg" alt="" class="offer__hover_img">
                            </div>
                            
                        </div> -->
                        <div class="offer__card_medicine">
                            <div class="offer__card">
                                <img src="../images/pictures/card4.png" alt="" class="offer__card_img">
                                <h3 class="offer__card_title">
                                    <span>Криологистика</span>
                                </h3>
                                <div class="offer__card_hover">
                                    <img src="../images/icons/card2-hover.svg" alt="" class="offer__hover_img">
                                </div>
                                
                            </div>
                            <div class="offer__card">
                                <img src="../images/pictures/card5.png" alt="" class="offer__card_img">
                                <h3 class="offer__card_title">
                                    Транспортировка <br>
                                    <span>биоматериалов</span>
                                </h3>
                                <div class="offer__card_hover">
                                    <img src="../images/icons/card1-hover.svg" alt="" class="offer__hover_img">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="we">
            <div class="container">
                <div class="we__box">
                    <h2 class="we__title">Почему мы?</h2>
                    <div class="we__cards">
                        <div class="we__cards_top">
                            <div class="we__top_left">
                                <h3 class="we__top_title">
                                    c 
                                    <span>
                                        2013
                                    </span>
                                </h3>
                                <h4 class="we__top_subtitle">Мы занимаемся доставкой радиофармпрепаратов 
                                    с ультра-коротким периодом полураспада. *
                                    </h4>
                                <p class="we__top_text">
                                    *это диагностические и терапевтические лекарственные 
                                    радиоактивные препараты которые теряют свою активность 
                                    со временем.
                                </p>
                            </div>
                            <div class="we__top_right">
                                <div class="we__top_card">
                                    <img src="../images/icons/we__fuel-icon.svg" alt="" class="we__top_img">
                                    <img src="../images/icons/we__fuel-icon.svg" alt="" class="we__top_img">
                                    <h4 class="we__top_subtitle">
                                        Располагаем всем 
                                        необходимым для перевозки 
                                        опасных грузов на любые
                                        расстояния
                                    </h4>
                                </div>
                                <div class="we__top_card">
                                    <img src="../images/icons/temperature-icon.svg" alt="" class="we__top_img">
                                    <h4 class="we__top_subtitle">
                                        Доставляем быстро
                                        и безопасно с соблюдением
                                        температурного режима
                                    </h4>
                                </div>
                            </div>
                            <div class="we__top_end">
                                <img src="../images/pictures/we__credo.png" alt="" class="we__top_img">
                                <h4 class="we__top_subtitle">
                                    Используем качественные
                                    термоконтейнеры для наших перевозок
                                </h4>
                            </div>
                        </div>
                        <div class="we__cards_bottom">
                            <div class="we__bottom_left">
                                <div class="we__bottom_card">
                                    <h4 class="we__bottom_title">Оборудование</h4>
                                    <p class="we__bottom_text">Соответствует требованиям 
                                        Приказа 646н и СП 
                                        3.3.2.3332−16, измерительные 
                                        приборы внесены 
                                        в Госреестр средств измерений.</p>
                                
                               
                                    <h4 class="we__bottom_title">Автопарк</h4>
                                    <ul class="we__bottom_list">
                                        <li>
                                            <p class="we__bottom_text">Объем кузова</p>
                                            <span>1,8 м³</span>
                                        </li>
                                        <li>
                                            <p class="we__bottom_text">Режим  <br>
                                                перевозки</p>
                                            <span>-20°С до +12°С</span>
                                        </li>
                                        <li>
                                            <p class="we__bottom_text">Грузоподъемность</p>
                                            <span>500 кг</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="we__bottom_right">
                                <img src="../images/pictures/we__bottom1.png" alt="" class="we__bottom_img">
                                <img src="../images/pictures/we__bottom2.png" alt="" class="we__bottom_img">
                            </div>
                            <div class="we__bottom_end">
                                <img src="../images/pictures/we__bottom3.png" alt="" class="we__bottom_img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="work">
            <img src="../images/background/work-bg1.png" alt="" class="work__bg-first">
            <img src="../images/background/work-bg2.png" alt="" class="work__bg-second">
            <img src="../images/background/work-bg-line.png" alt="" class="work__bg-third">
            <div class="container">
                <div class="work__box">
                    
                        <h2 class="work__title">Как мы работаем?</h2>
                        <div class="work__cards">
                            <!-- <div class="work__card">
                                <img src="../images/pictures/task_list 1.png" alt="" class="work__card_img">
                                    
                                <div class="work__card_text">
                                    <span class="work-number">01</span>
                                    <h4>
                                        Вы размещаете 
                                        
                                        <span>заявку</span>
                                    </h4>
                                </div>
                            </div>
                            <div class="work__card">
                                <img src="../images/pictures/task_list 2.png" alt="" class="work__card_img">
                                <div class="work__card_text">
                                    <span class="work-number">02</span>
                                    <h4>
                                        Вместе согласуем 
                                        
                                        <span>маршрут</span>
                                    </h4>
                                </div>
                               
                            </div>
                            <div class="work__card">
                                <img src="../images/pictures/task_list 3.png" alt="" class="work__card_img">
                                
                                <div class="work__card_text">
                                    <span  class="work-number">03</span>
                                    <h4>
                                        Мы осуществляем 
                                        <span>перевозку </span>
                                    </h4>
                                </div>
                            </div> -->
                            <div class="work__card-big">
                                <img src="../images/background/work-bg1.png" alt="" class="work__bg-first">
                                <img src="../images/pictures/task_list 4.png" alt="" class="work__card_img">
                                
                                <h4 class="work__card_text">Вы можете отследить 
                                    движение вашего груза 
                                    с помощью<span>gps</span>
                                </h4>
                            </div>
                            <div class="work__card-big-bg"></div>
                            
                        </div>
                    
                    
                </div>
            </div>
        </section>
        <section class="partners">
            <div class="container">
                <div class="partners__box">
                <h2 class="partners__title">С кем работаем</h2>
                <div class="partners__cards">
                    <!-- <img src="../images/pictures/partners1.png" alt="" class="partners__card_logo">
                    <img src="../images/pictures/partners2.png" alt="" class="partners__card_logo">
                    <img src="../images/pictures/partners3.png" alt="" class="partners__card_logo">
                    <img src="../images/pictures/partners4.png" alt="" class="partners__card_logo">
                    <img src="../images/pictures/partners5.png" alt="" class="partners__card_logo">
                    <img src="../images/pictures/partners6.png" alt="" class="partners__card_logo">
                    <img src="../images/pictures/partners7.png" alt="" class="partners__card_logo">
                    <img src="../images/pictures/partners8.png" alt="" class="partners__card_logo"> -->
                </div>
                </div>
            </div>
        </section>
        <section class="cost">
            <img src="../images/background/cost-bg.png" alt="" class="cost__bg">
            <div class="container">
                <div class="cost__box">
                    <div class="cost__box_title">
                        <h2 class="cost__title">Рассчитать <br> стоимость</h2>
                        <p class="cost__text">Заполните форму и наш менеджер свяжется <br> с Вами в ближайшее время.</p>
                    </div>
                    <form action="" class="cost__form">
                        <input type="text" placeholder="Ваше имя" class="cost__form_text">
                        <input type="tel" value="+7" class="cost__form_tel">
                        <button class="cost__form_button">Отправить заявку</button>
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__box">
                <p class="footer__text">2022 © “Новелти диагностика и терапия”</p>
                <div class="footer__geo">
                    <img src="../images/icons/footer__geo.svg" alt="" class="footer__geo_icon">
                    <p class="footer__text">Москва, Филевский бульвар <br>, д. 39, офис 4</p>
                </div>
                <div class="footer__tel">
                    <p class="footer__text-bold">+7 495 118 40 48 </p>
                    <p class="footer__text">info@novelty.express</p>
                </div>
                <a href=""><img src="../images/icons/footer__comment.svg" alt="" class="footer__comment"></a>
            </div>
        </div>
    </footer>

    <script src="../js/main.js"></script>
</body>
</html>